<div {{ attributes }}>
    {{ form_start(form) }}
        <div class="flex flex-col">
            {{ form_errors(form) }}
            <div class="mb-3">
                {# {{ form_row(form.type) }} #}
                {{ form_label(form.amount, null , {'label_attr': {'class': 'text-xl text-center'}}) }}
                {# {{ form_widget(form.amount) }} #}
                {{ form_widget(form.amount, {'attr': {'class': 'p-4 text-2xl text-center'}}) }}
                {{ form_errors(form.amount) }}
                {{ form_help(form.amount) }}
            </div>
            {{ form_row(form.email) }}
            {# {{ form_row(form.chosenAmount) }} #}
            {{ form_row(form.taxReturn) }}
            {% if form.taxReturn is same as true %}
                {{ form_row(form.givenName) }}
                {{ form_row(form.familyName) }}
                {{ form_row(form.nationalIdCode) }}
            {% endif %}
            <div class="order-last">
                <h1 class="font-medium text-xl text-center mb-3">Maksmine</h1>
                {{ form_row(form.paymentCountry) }}
                <div class="mb-3">
                    {% if form.paymentMethod is defined %}
                        {# {{ form_row(form.paymentMethod) }} #}
                        {{ form_errors(form.paymentMethod) }}
                        <ul class="grid w-full gap-3 md:grid-cols-2">
                            {% for label, value in field_choices(form.paymentMethod) %}
                                <li>
                                <input
                                    type="radio"
                                    id="donation_paymentMethod_{{ loop.index0 }}"
                                    name="{{ field_name(form.paymentMethod) }}"
                                    value="{{ value }}"
                                    placeholder="{{ field_label(form.paymentMethod) }}"
                                    class="hidden peer"
                                    required
                                >
                                <label for="donation_paymentMethod_{{ loop.index0 }}" class="inline-flex items-center justify-between w-full p-3 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">                           
                                    <div class="block">
                                        <div class="w-full text-lg font-semibold">{{ label }}</div>
                                    </div>
                                </label>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                {{ form_row(form.submit, { 'label': 'Anneta', 'attr': {'class': 'w-full px-6 py-3.5 text-base font-medium text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800'} }) }}
            </class>
        </div>
    {{ form_end(form) }}
</div>
