<div {{ attributes }}>
    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.type) }}
        {{ form_row(form.amount) }}
        {{ form_row(form.chosenAmount) }}
        {{ form_row(form.taxReturn) }}
        {% if form.taxReturn is same as true %}
            {{ form_row(form.givenName) }}
            {{ form_row(form.familyName) }}
            {{ form_row(form.nationalIdCode) }}
        {% endif %}
        {{ form_row(form.submit, { 'label': 'Donate' }) }}
    {{ form_end(form) }}
</div>
