<div {{ attributes }}>
    {{ form_start(form) }}
        <div class="flex flex-col">
            {{ form_errors(form) }}
            {{ form_row(form.type) }}
            {{ form_row(form.amount) }}
            {{ form_row(form.chosenAmount) }}
            {{ form_row(form.taxReturn) }}
            {% if form.taxReturn is same as true %}
                {{ form_row(form.givenName) }}
                {{ form_row(form.familyName) }}
                {{ form_row(form.nationalIdCode) }}
            {% endif %}
            <div class="order-last">
            {{ form_row(form.paymentMethod) }}
            {{ form_row(form.submit, { 'label': 'Donate' }) }}
            </class>
        </div>
    {{ form_end(form) }}
</div>
