{% extends '@Donation/components/donation_form_layout.html.twig' %}
{% trans_default_domain 'donation' %}
{% set step = 3 %}

{% block title %}Makse{% endblock %}

{% block form_fields %}
        <div class="flex flex-col">

            {{ form_errors(form) }}

            {# Group #}
            <div class="mb-3">
                {{ form_errors(form.gatewayGroup) }}
                <ul class="flex justify-center items-stretch">
                    {% for choice in form.gatewayGroup.children %}
                        <li>
                            <input
                                type="radio"
                                id="donation_gateway_group_{{ loop.index0 }}"
                                name="{{ field_name(form.gatewayGroup) }}"
                                value="{{ choice.vars.value }}"
                                {% if choice.vars.checked %} checked="checked"{% endif %}
                                class="hidden peer"
                                required>
                            <label for="donation_gateway_group_{{ loop.index0 }}" class="flex h-10 text-gray-100 bg-primary-700 peer-checked:bg-gray-100 border border-primary-700 {% if loop.first %}rounded-l-lg{% endif %} {% if loop.last %}rounded-r-lg{% endif %} cursor-pointer peer-checked:border-primary-700 peer-checked:text-primary-700 hover:text-gray-600 hover:bg-gray-100">                           
                                <div class="flex w-full items-center p-2">
                                    <p class="grow text-center text-nowrap truncate">{{ choice.vars.value }}</p>
                                </div>  
                            </label>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            {# Country #}
            {{ form_errors(form.gatewayCountry) }}
            {% if form.gatewayCountry.children|length == 0 %}
                {# Render and hide country filter #}
                <div class="hidden">
                    {{ form_row(form.gatewayCountry) }}
                </div>
            {% else %}
                <ul class="flex justify-center mb-3 space-x-1">
                    {% for choice in form.gatewayCountry.children %}
                        <li class="flex-initial w-14">
                            <input
                                type="radio"
                                id="donation_gateway_country_{{ loop.index0 }}"
                                name="{{ field_name(form.gatewayCountry) }}"
                                value="{{ choice.vars.value }}"
                                {% if choice.vars.checked or (loop.first and loop.last) %} checked="checked"{% endif %}
                                class="hidden peer"
                                required>
                            <label for="donation_gateway_country_{{ loop.index0 }}" class="inline-flex items-center justify-between w-full p-1 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">                           
                                <div class="block">
                                    <img class="size-full" src="/bundles/easyadmin{{ asset('images/flags/' ~ choice.vars.value ~ '.svg') }}"/>
                                </div>
                            </label>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            {# Gateway #}
            {{ form_errors(form.gateway) }}
            <ul class="grid w-full gap-3 grid-cols-3 mb-3">
                {% for choice in form.gateway.children %}
                    <li>
                        <input
                            type="radio"
                            id="donation_gateway_{{ loop.index0 }}"
                            name="{{ field_name(form.gateway) }}"
                            value="{{ choice.vars.value }}"
                            placeholder="{{ choice.vars.label }}"
                            class="hidden peer"
                            {% if choice.vars.checked %} checked="checked"{% endif %}
                            required>
                        <label for="donation_gateway_{{ loop.index0 }}" class="aspect-square inline-flex items-center justify-between w-full p-3 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">                           
                            <div class="block">
                                <img class="size-full" src="{{ asset(choice.vars.image) }}" alt="{{ choice.vars.label }}"/>
                            </div>
                        </label>
                    </li>
                {% endfor %}
            </ul>

            <p class="mb-3 text-center">{{ ('payment.frequency.summary.' ~ donationData.frequency)|trans({'%amount%': donationData.decimalAmount|format_currency(donationData.currencyCode) }) }}</p>

            <button type="submit" class="order-last w-full px-6 py-3.5 text-base font-medium text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 rounded-lg text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" data-turbo="false">Anneta</button>
            
            {{ form_rest(form) }}
        </div>
{% endblock %}
