{% extends '@Donation/components/donation_form_layout.html.twig' %}

{% set step = 1 %}

{% block title %}Vali summa{% endblock %}

{% block form_fields %}
    <div class="flex flex-col">
        <div {{ stimulus_controller('focus') }} class="mb-3">
            {{ form_errors(form) }}

            {# Frequency #}
            <div class="mb-3">
                {{ form_errors(form.frequency) }}
                <ul class="flex justify-center items-stretch">
                    {% for choice in form.frequency.children %}
                        <li class="flex-1 min-w-0">
                            <input
                                type="radio"
                                id="donation_frequency_{{ loop.index0 }}"
                                name="{{ field_name(form.frequency) }}"
                                value="{{ choice.vars.value }}"
                                {% if choice.vars.checked %} checked="checked"{% endif %}
                                class="hidden peer"
                                required>
                            <label for="donation_frequency_{{ loop.index0 }}" class="flex h-10 border {% if loop.first %}rounded-l-lg{% endif %} {% if loop.last %}rounded-r-lg{% endif %} cursor-pointer text-gray-100 bg-primary-700 peer-checked:bg-gray-100 border-primary-700 peer-checked:border-primary-700 peer-checked:text-primary-700 hover:text-gray-600 hover:bg-gray-100">
                                <div class="flex w-full items-center p-2">
                                    <p class="grow text-center text-nowrap truncate">{{ choice.vars.label|trans }}</p>
                                </div>  
                            </label>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            {# Frequency Title #}
            <p class="mb-3 text-center">{{ ('payment.frequency.title.' ~ donationData.frequency)|trans }}</p>

            {# Amount #}
            <div class="mb-3">
                {{ form_errors(form.chosenAmount) }}
                <ul class="grid w-full gap-3 grid-cols-3">
                    {% for choice in form.chosenAmount.children %}
                        <li class="flex flex-col h-12 {% if loop.first %}order-last{% endif %}">
                            <input
                                type="radio"
                                id="donation_chosen_amount_{{ loop.index0 }}"
                                name="{{ field_name(form.chosenAmount) }}"
                                value="{{ choice.vars.value }}"
                                placeholder="{{ choice.vars.label }}"
                                data-action="live#action"
                                data-live-action-param="chooseAmount"
                                class="hidden peer"
                                {% if choice.vars.checked %} checked="checked"{% endif %}
                                required>
                            <label for="donation_chosen_amount_{{ loop.index0 }}" {% if loop.first %}data-action="click->focus#focus"{% endif %} class="flex h-16 items-center justify-center text-gray-100 bg-primary-700 peer-checked:bg-gray-100 border border-gray-200 rounded-lg cursor-pointer peer-checked:border-primary-700 peer-checked:text-primary-700 hover:text-gray-600 hover:bg-gray-100">
                                <p class="text-center font-medium {% if loop.first %}text-sm{% else %}text-2xl{% endif %}">
                                    {{ choice.vars.label }}
                                </p>
                            </label>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            
            {{ form_widget(form.amount, {'attr': {'data-action': 'live#action', 'data-live-action-param': 'writeAmount', 'class': 'p-4 text-2xl text-center', 'data-focus-target': 'focusMe'}}) }}
            {{ form_errors(form.amount) }}

        </div>
        <button type="submit" class="w-full px-6 py-3.5 text-base font-medium text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 rounded-lg text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Edasi</button>
    </div>
{% endblock %}
